.texte_classique { font-family: Arial, Helvetica, sans-serif; border: #CCCCCC; font-size: 10pt; color: #FFFFFF}
.cadre_1 { font-family: Arial, Helvetica, sans-serif; border: #CCCCCC; font-size: 9pt; color: #FFFFFF} 
.texte_infos { font-family: Arial, Helvetica, sans-serif; border: #CCCCCC; font-size: 8pt; color: #33cc00}